.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, 0.8);
  z-index: 5000;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s;

  @supports (-webkit-bkacdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-bkacdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      line-height: $default-font-size;
      text-decoration: none;
      display: inline-block;

      transition: all 0.2s;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    @include absCenter;
    background-color: $color-white;
    width: 75%;
    z-index: 6000;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;

    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);

    transition: all 0.4s 0.2s;

    @include respond(phone) {
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transform: translate(0) scale(0.25);
    }
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

    @include respond(phone) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transform: translate(0) scale(1);
    }
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
    position: relative;

    @include respond(tab-port) {
      width: 100%;
      height: 30rem;
      display: block;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      width: 100%;
      display: block;
    }
  }

  &__img {
    display: block;
    position: absolute;

    // width: 100%;
    // height: 200px;

    background-size: cover;
    background-position: center;

    &--1 {
      background-image: url(../img/nat-8.jpg);
      top: 0;
      left: 0;
      bottom: 50%;
      right: 0;

      @include respond(tab-port) {
        top: 0;
        left: 0;
        bottom: 0;
        right: 50%;
      }
    }

    &--2 {
      background-image: url(../img/nat-9.jpg);
      top: 50%;
      left: 0;
      bottom: 0;
      right: 0;

      @include respond(tab-port) {
        top: 0;
        left: 50%;
        bottom: 0;
        right: 0;
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond(phone) {
      display: block;
      height: 20rem;
      column-count: 1;
      column-gap: none;
      column-rule: none;
      overflow: auto;
    }
  }
}
